# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
Include/


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
Beginner/Day6/datastore/c2gen5_beta_t.XML
/Scripts/*
Intermediate/Day4/1VEnvAndPipInstallDemos/Scripts
/_scripts/**
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/Activate.ps1
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/activate
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/activate.bat
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/deactivate.bat
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/easy_install.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/easy_install-3.7.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/epylint.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/isort.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/pip.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/pip3.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/pip3.7.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/pylint.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/pyreverse.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/python.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/pythonw.exe
Intermediate/Day4/1VEnvAndPipInstallDemos/_Scripts/symilar.exe
Intermediate/Scripts/Activate.ps1
Intermediate/Scripts/activate
Intermediate/Scripts/activate.bat
Intermediate/Scripts/deactivate.bat
Intermediate/Scripts/easy_install.exe
Intermediate/Scripts/easy_install-3.7.exe
Intermediate/Scripts/epylint.exe
Intermediate/Scripts/isort.exe
Intermediate/Scripts/pip.exe
Intermediate/Scripts/pip3.exe
Intermediate/Scripts/pip3.7.exe
Intermediate/Scripts/pylint.exe
Intermediate/Scripts/pyreverse.exe
Intermediate/Scripts/python.exe
Intermediate/Scripts/pythonw.exe
Intermediate/Scripts/symilar.exe
Intermediate/Day4.zip
Intermediate/Day1To5.zip
Intermediate/Day7.zip
Beginner/Day1.zip
